<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hotel.mapper.TbRoomMapper" >
  <resultMap id="BaseResultMap" type="com.hotel.pojo.TbRoom" >
    <id column="room_id" property="roomId" jdbcType="VARCHAR" />
    <result column="root_type" property="rootType" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="free" property="free" jdbcType="BIT" />
    <result column="scheduled" property="scheduled" jdbcType="BIT" />
    <result column="abandoned" property="abandoned" jdbcType="BIT" />
    <result column="euqipment" property="euqipment" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    room_id, root_type, price, free, scheduled, abandoned, euqipment, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hotel.pojo.TbRoomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_room
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_room
    where room_id = #{roomId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_room
    where room_id = #{roomId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.hotel.pojo.TbRoomExample" >
    delete from tb_room
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hotel.pojo.TbRoom" >
    insert into tb_room (room_id, root_type, price, 
      free, scheduled, abandoned, euqipment, 
      remark)
    values (#{roomId,jdbcType=VARCHAR}, #{rootType,jdbcType=VARCHAR}, #{price,jdbcType=REAL}, 
      #{free,jdbcType=BIT}, #{scheduled,jdbcType=BIT}, #{abandoned,jdbcType=BIT}, #{euqipment,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hotel.pojo.TbRoom" >
    insert into tb_room
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roomId != null" >
        room_id,
      </if>
      <if test="rootType != null" >
        root_type,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="free != null" >
        free,
      </if>
      <if test="scheduled != null" >
        scheduled,
      </if>
      <if test="abandoned != null" >
        abandoned,
      </if>
      <if test="euqipment != null" >
        euqipment,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roomId != null" >
        #{roomId,jdbcType=VARCHAR},
      </if>
      <if test="rootType != null" >
        #{rootType,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="free != null" >
        #{free,jdbcType=BIT},
      </if>
      <if test="scheduled != null" >
        #{scheduled,jdbcType=BIT},
      </if>
      <if test="abandoned != null" >
        #{abandoned,jdbcType=BIT},
      </if>
      <if test="euqipment != null" >
        #{euqipment,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hotel.pojo.TbRoomExample" resultType="java.lang.Integer" >
    select count(*) from tb_room
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_room
    <set >
      <if test="record.roomId != null" >
        room_id = #{record.roomId,jdbcType=VARCHAR},
      </if>
      <if test="record.rootType != null" >
        root_type = #{record.rootType,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=REAL},
      </if>
      <if test="record.free != null" >
        free = #{record.free,jdbcType=BIT},
      </if>
      <if test="record.scheduled != null" >
        scheduled = #{record.scheduled,jdbcType=BIT},
      </if>
      <if test="record.abandoned != null" >
        abandoned = #{record.abandoned,jdbcType=BIT},
      </if>
      <if test="record.euqipment != null" >
        euqipment = #{record.euqipment,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_room
    set room_id = #{record.roomId,jdbcType=VARCHAR},
      root_type = #{record.rootType,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=REAL},
      free = #{record.free,jdbcType=BIT},
      scheduled = #{record.scheduled,jdbcType=BIT},
      abandoned = #{record.abandoned,jdbcType=BIT},
      euqipment = #{record.euqipment,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hotel.pojo.TbRoom" >
    update tb_room
    <set >
      <if test="rootType != null" >
        root_type = #{rootType,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=REAL},
      </if>
      <if test="free != null" >
        free = #{free,jdbcType=BIT},
      </if>
      <if test="scheduled != null" >
        scheduled = #{scheduled,jdbcType=BIT},
      </if>
      <if test="abandoned != null" >
        abandoned = #{abandoned,jdbcType=BIT},
      </if>
      <if test="euqipment != null" >
        euqipment = #{euqipment,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where room_id = #{roomId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hotel.pojo.TbRoom" >
    update tb_room
    set root_type = #{rootType,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      free = #{free,jdbcType=BIT},
      scheduled = #{scheduled,jdbcType=BIT},
      abandoned = #{abandoned,jdbcType=BIT},
      euqipment = #{euqipment,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where room_id = #{roomId,jdbcType=VARCHAR}
  </update>
</mapper>